<div class="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img src="../assets/img/faces/default-avatar.png" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="username">
        <span>
         Rahul M.
        </span>
      </a>
      
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <i class="material-icons">home</i>
        <p> Dashboard </p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/profile'>
        <i class="material-icons">perm_identity</i>
        <p> Profile </p>
      </a>
    </li>
  </ul>
</div>