<div class="content">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <button class="btn btn-primary btn-tumblr btn-round btn-sm" routerLink="dashboard/listView">
            <i class="fa fa-list"></i> Table View
            <div class="ripple-container"></div></button>
        </div>
        <div class="col-md-2 col-sm-2">
          <button class="btn btn-primary btn-behance btn-round btn-sm" routerLink="dashboard/newCustomer">
            <i class="fa fa-plus"></i> new Customer
            <div class="ripple-container"></div></button>
        </div>
      </div>
      <h3>Manage Listings</h3>
      <br>
      <div class="row">
        <div class="col-md-4" *ngFor="let customer of customers">
          <div class="card card-product">
            <div class="card-header card-header-image" data-header-animation="true">
              <a href="#pablo">
                <img class="img" src="../assets/img/card-2.jpg">
              </a>
            </div>
            <div class="card-body">
              <div class="card-actions text-center">
                <button type="button" class="btn btn-danger btn-link fix-broken-card">
                  <i class="material-icons">build</i> Fix Header!
                </button>
                <a class="btn btn-default btn-link" 
                  title="View" (click)="viewCustomer(customer.id)" >
                  <i class="material-icons">art_track</i>
                </a>
                <a class="btn btn-success btn-link" 
                  title="Edit" (click)="editCustomer(customer.id)" >
                  <i class="material-icons">edit</i>
                </a>
                <a href="#" class="btn btn-danger btn-link" rel="tooltip" 
                  title="Remove" (click)="deleteCustomer(customer.id)">
                  <i class="material-icons">close</i>
                </a>
              </div>
              <h4 class="card-title">
                <a href="#pablo">{{customer.name}}</a>
              </h4>
              <div class="card-description">
                {{customer.email}}
              </div>
            </div>
            <div class="card-footer">
              <div class="price">
                <h4>{{customer.mobile}}</h4>
              </div>
              <div class="stats">
                <p class="card-category"><i class="material-icons">place</i> {{customer.address}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>